In [210]:
import pandas as pd
import numpy as np
import re

import matplotlib.pyplot as plt
import seaborn as sns

In [211]:
df = pd.read_csv('train.csv')
df

/Users/tatyanagordenko/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,city,floor,id,lat,lng,osm_amenity_points_in_0.001,osm_amenity_points_in_0.005,osm_amenity_points_in_0.0075,osm_amenity_points_in_0.01,osm_building_points_in_0.001,...,reform_mean_floor_count_1000,reform_mean_floor_count_500,reform_mean_year_building_1000,reform_mean_year_building_500,region,total_square,street,date,realty_type,price_type
0,Пермь,NaN,COL_0,57.998207,56.292797,4,19,35,52,0,...,5.762963,5.530612,1964.118519,1960.959184,Пермский край,32.000000,S27289,2020-01-05,10,0
1,Шатура,NaN,COL_1,55.574284,39.543835,3,24,37,59,0,...,2.894366,3.527778,1952.321678,1957.222222,Московская область,280.000000,S17052,2020-01-05,10,0
2,Ярославль,NaN,COL_2,57.619140,39.850525,1,30,67,128,0,...,6.141414,7.222222,1968.150000,1973.370370,Ярославская область,297.400000,S16913,2020-01-05,110,0
3,Новокузнецк,NaN,COL_3,53.897083,87.108604,0,0,5,21,0,...,8.581081,9.000000,1992.716216,2014.000000,Кемеровская область,190.000000,S10148,2020-01-05,110,0
4,Москва,NaN,COL_4,55.802590,37.487110,1,23,64,153,0,...,7.263889,5.684211,1963.229167,1960.500000,Москва,60.200000,S1338,2020-01-05,10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
279787,Томск,1.0,COL_280111,56.459183,84.979334,2,33,111,222,0,...,5.714286,5.882353,1972.260870,1973.460000,Томская область,358.320073,S11114,2020-08-23,10,1
279788,Санкт-Петербург,1.0,COL_280479,59.936954,30.356383,10,274,718,1340,0,...,4.719388,4.706667,1876.994898,1873.186667,Санкт-Петербург,119.637556,S28440,2020-08-23,110,1
279789,Калининград,3.0,COL_280518,54.729233,20.514968,0,12,34,84,0,...,3.950413,4.885714,1964.258333,1970.571429,Калининградская область,312.789725,S6671,2020-08-23,10,1
279790,Кемерово,1.0,COL_280529,55.360680,86.081460,5,57,100,134,0,...,4.691489,4.125000,1957.425532,1954.625000,Кемеровская область,89.201305,S17667,2020-08-23,110,1
279791,Киров,1.0,COL_280637,58.592915,49.677439,1,23,64,113,0,...,5.069124,4.776119,1972.599078,1971.794118,Кировская область,172.855871,S5611,2020-08-23,110,1

In [4]:
#df.to_excel('df_excel.xlsx')

In [7]:
#len(df['id'].unique())

In [18]:
#df[df['id'] == 'COL_51465']

In [141]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 279792 entries, 0 to 279791
Data columns (total 77 columns):
 #   Column                               Non-Null Count   Dtype
---  ------                               --------------   -----
 0   city                                 279792 non-null  object
 1   floor                                279792 non-null  object
 2   id                                   279792 non-null  object
 3   lat                                  279792 non-null  float64
 4   lng                                  279792 non-null  float64
 5   osm_amenity_points_in_0.001          279792 non-null  int64
 6   osm_amenity_points_in_0.005          279792 non-null  int64
 7   osm_amenity_points_in_0.0075         279792 non-null  int64
 8   osm_amenity_points_in_0.01           279792 non-null  int64
 9   osm_building_points_in_0.001         279792 non-null  int64
 10  osm_building_points_in_0.005         279792 non-null  int64
 11  osm_building_points_in_0.0075        279792 non-null  int64
 12  osm_building_points_in_0.01          279792 non-null  int64
 13  osm_catering_points_in_0.001         279792 non-null  int64
 14  osm_catering_points_in_0.005         279792 non-null  int64
 15  osm_catering_points_in_0.0075        279792 non-null  int64
 16  osm_catering_points_in_0.01          279792 non-null  int64
 17  osm_city_closest_dist                279792 non-null  float64
 18  osm_city_nearest_name                279792 non-null  object
 19  osm_city_nearest_population          279737 non-null  float64
 20  osm_crossing_closest_dist            279792 non-null  float64
 21  osm_crossing_points_in_0.001         279792 non-null  int64
 22  osm_crossing_points_in_0.005         279792 non-null  int64
 23  osm_crossing_points_in_0.0075        279792 non-null  int64
 24  osm_crossing_points_in_0.01          279792 non-null  int64
 25  osm_culture_points_in_0.001          279792 non-null  int64
 26  osm_culture_points_in_0.005          279792 non-null  int64
 27  osm_culture_points_in_0.0075         279792 non-null  int64
 28  osm_culture_points_in_0.01           279792 non-null  int64
 29  osm_finance_points_in_0.001          279792 non-null  int64
 30  osm_finance_points_in_0.005          279792 non-null  int64
 31  osm_finance_points_in_0.0075         279792 non-null  int64
 32  osm_finance_points_in_0.01           279792 non-null  int64
 33  osm_healthcare_points_in_0.005       279792 non-null  int64
 34  osm_healthcare_points_in_0.0075      279792 non-null  int64
 35  osm_healthcare_points_in_0.01        279792 non-null  int64
 36  osm_historic_points_in_0.005         279792 non-null  int64
 37  osm_historic_points_in_0.0075        279792 non-null  int64
 38  osm_historic_points_in_0.01          279792 non-null  int64
 39  osm_hotels_points_in_0.005           279792 non-null  int64
 40  osm_hotels_points_in_0.0075          279792 non-null  int64
 41  osm_hotels_points_in_0.01            279792 non-null  int64
 42  osm_leisure_points_in_0.005          279792 non-null  int64
 43  osm_leisure_points_in_0.0075         279792 non-null  int64
 44  osm_leisure_points_in_0.01           279792 non-null  int64
 45  osm_offices_points_in_0.001          279792 non-null  int64
 46  osm_offices_points_in_0.005          279792 non-null  int64
 47  osm_offices_points_in_0.0075         279792 non-null  int64
 48  osm_offices_points_in_0.01           279792 non-null  int64
 49  osm_shops_points_in_0.001            279792 non-null  int64
 50  osm_shops_points_in_0.005            279792 non-null  int64
 51  osm_shops_points_in_0.0075           279792 non-null  int64
 52  osm_shops_points_in_0.01             279792 non-null  int64
 53  osm_subway_closest_dist              279792 non-null  float64
 54  osm_train_stop_closest_dist          279792 non-null  float64
 55  osm_train_stop_points_in_0.005       279792 non-null  int64
 56  osm_train_stop_points_in_0.0075      279792 non-null  int64
 57  osm_train_stop_points_in_0.01        279792 non-null  int64
 58  osm_transport_stop_closest_dist      279792 non-null  float64
 59  osm_transport_stop_points_in_0.005   279792 non-null  int64
 60  osm_transport_stop_points_in_0.0075  279792 non-null  int64
 61  osm_transport_stop_points_in_0.01    279792 non-null  int64
 62  per_square_meter_price               279792 non-null  float64
 63  reform_count_of_houses_1000          279792 non-null  int64
 64  reform_count_of_houses_500           279792 non-null  int64
 65  reform_house_population_1000         265196 non-null  float64
 66  reform_house_population_500          252558 non-null  float64
 67  reform_mean_floor_count_1000         263084 non-null  float64
 68  reform_mean_floor_count_500          249624 non-null  float64
 69  reform_mean_year_building_1000       263553 non-null  float64
 70  reform_mean_year_building_500        250155 non-null  float64
 71  region                               279792 non-null  object
 72  total_square                         279792 non-null  float64
 73  street                               278186 non-null  object
 74  date                                 279792 non-null  object
 75  realty_type                          279792 non-null  int64
 76  price_type                           279792 non-null  int64
dtypes: float64(16), int64(54), object(7)
memory usage: 164.4+ MB

In [161]:
# df['floor'] = df['floor'].fillna(0).astype('str')

In [80]:
# df['floor'].unique()

array(['nan', '3.0', '4.0', '-1.0', '1.0', '14.0', '2.0', '8.0', '-2.0',
       '6.0', '10.0', '5.0', '16.0', '19.0', '7.0', '9.0', '58.0', '24.0',
       '18.0', '26.0', '17.0', '48.0', '11.0', '-3.0', '15.0', '22.0',
       '60.0', '12.0', '21.0', '35.0', '28.0', '38.0', '39.0', '13.0',
       '81.0', '44.0', '82.0', '25.0', '45.0', '47.0', '23.0', '37.0',
       '29.0', '113.0', '78.0', '42.0', '69.0', '27.0', '46.0', '53.0',
       '80.0', '70.0', '76.0', '64.0', '30.0', '73.0', '77.0', '52.0',
       '67.0', '65.0', '20.0', '40.0', '49.0', '75.0', '93.0', '94.0',
       '91.0', '72.0', '79.0', '84.0', '92.0', '33.0', '66.0', '90.0',
       '31.0', '36.0', '61.0', '71.0', '68.0', '51.0', '97.0', '43.0',
       '95.0', '85.0', '50.0', '0.0', '62.0', '54.0', '74.0', '57.0',
       '41.0', '34.0', '59.0', '56.0', '123.0', '55.0', '83.0', '1',
       'подвал, 1', '2', 'подвал', 'цоколь, 1', '1,2,антресоль', 'цоколь',
       '4', '5', 'тех.этаж (6)', '3', 'Подвал', 'Цоколь', '10',
       'фактически на уровне 1 этажа', '6', '1,2,3', '1, подвал',
       '1,2,3,4', '1,2', '1,2,3,4,5', '5, мансарда', '1-й, подвал', '12',
       '15', '13', '1, подвал, антресоль', 'мезонин', 'подвал, 1-3', '8',
       '7', '1 (Цокольный этаж)', '3, Мансарда (4 эт)', 'подвал,1',
       '1, антресоль', '1-3', 'мансарда (4эт)', '1, 2.', '9',
       'подвал , 1 ', '1, 2', 'подвал, 1,2,3', '1 + подвал (без отделки)',
       'мансарда', '2,3', '4, 5', '1-й, 2-й', '18', '1 этаж, подвал',
       '1, цоколь', 'подвал, 1-7, техэтаж', '3 (антресоль)', '1, 2, 3',
       'Цоколь, 1,2(мансарда)', 'подвал, 3. 4 этаж', 'подвал, 1-4 этаж',
       'подва, 1.2 этаж', '2, 3', '-1', '1.2', '11', '36', '7,8',
       '1 этаж', '1-й', '3 этаж', '4 этаж', '5 этаж', 'подвал,1,2,3,4,5',
       '29', 'подвал, цоколь, 1 этаж', '3, мансарда'], dtype=object)

In [218]:
df['floor'].unique()
#df['floor'].value_counts().sort_values()

array([ 0,  3,  4, -1,  1, 14,  2,  8, -2,  6, 10,  5, 16, 19,  7,  9, 58,
       24, 18, 26, 17, 48, 11, -3, 15, 22, 60, 12, 21, 35, 28, 38, 39, 13,
       81, 44, 82, 25, 45, 47, 23, 37, 29, 78, 42, 69, 27, 46, 53, 80, 70,
       76, 64, 30, 73, 77, 52, 67, 65, 20, 40, 49, 75, 93, 94, 91, 72, 79,
       84, 92, 33, 66, 90, 31, 36, 61, 71, 68, 51, 97, 43, 95, 85, 50, 62,
       54, 74, 57, 41, 34, 59, 56, 55, 83])

In [217]:
df['floor'] = df['floor'].fillna(0).astype('str')

def clean_floor(text):
    text = re.sub('[%s]' % re.escape("""!"#$%&'()*+/:;<=>?@[\]^_`{|}~"""), '', text)
    text = re.sub(r'подвал, 1', '1', text)
    text = re.sub(r'подвал', '-1', text)
    text = re.sub(r'цоколь, 1', '1', text)
    text = re.sub(r'1,2,антресоль', '1', text)
    text = re.sub(r'Подвал', '-1', text)
    text = re.sub(r'Цоколь', '-1', text)
    text = re.sub(r'цоколь', '-1', text)
    text = re.sub(r'тех.этаж 6', '6', text)
    text = re.sub(r'фактически на уровне 1 этажа', '1', text)
    text = re.sub(r'1,2,3', '1', text)
    text = re.sub(r'5, мансарда', '5', text)
    text = re.sub(r'мезонин', '1', text)
    text = re.sub(r'3, Мансарда (4 эт)', '3', text)
    text = re.sub(r'1, антресоль', '1', text)
    text = re.sub(r'мансарда (4эт)', '4', text)
    text = re.sub(r'мансарда', '2', text)
    text = re.sub(r'1, цоколь', '1', text)
    text = re.sub(r'3 антресоль', '3', text)
    text = re.sub(r'1 этаж', '1', text)
    text = re.sub(r'1-й', '1', text)
    text = re.sub(r'3 этаж', '3', text)
    text = re.sub(r'4 этаж', '4', text)
    text = re.sub(r'5 этаж', '5', text)
    text = re.sub(r'3, мансарда', '3', text)
    text = re.sub(r'123.0', '1', text)
    text = re.sub(r'1, -1', '1', text)
    text = re.sub(r'1,4', '1', text)
    text = re.sub(r'1,2', '1', text)
    text = re.sub(r'1,4,5', '1', text)
    text = re.sub(r'1-3', '1', text)
    text = re.sub(r'1 -1ный этаж', '1', text)
    text = re.sub(r'-1,1', '1', text)
    text = re.sub(r'1, 2.', '1', text)
    text = re.sub(r'-1 , 1 ', '1', text)
    text = re.sub(r'1, 2', '1', text)
    text = re.sub(r'1  -1 без отделки', '1', text)
    text = re.sub(r'2,3', '2', text)
    text = re.sub(r'4, 5', '4', text)
    text = re.sub(r'2,3', '2', text)
    text = re.sub(r'1, 2-й', '1', text)
    text = re.sub(r'1-7, техэтаж', '1', text)
    text = re.sub(r'1, 2, 3', '1', text)
    text = re.sub(r'-1, 1,22', '1', text)
    text = re.sub(r'-1, 3. 4', '3', text)
    text = re.sub(r'1-4', '1', text)
    text = re.sub(r'подва, 1.2 этаж', '1', text)
    text = re.sub(r'2, 3', '2', text)
    text = re.sub(r'1й', '1', text)
    text = re.sub(r'1 3', '2', text)
    text = re.sub(r'-1, 12', '-1', text)
    text = re.sub(r'1.2', '1', text)
    text = re.sub(r'7,8', '2', text)
    text = re.sub(r'-1, 1', '1', text)
    text = re.sub(r'3, 2', '2', text)
    text = re.sub(r'1,5', '1', text)
    text = re.sub(r'113', '11', text)
    text = re.sub(r'13,4,5,6', '13', text)
    text = re.sub(r' 1 Антресоль', '1', text)
    text = re.sub(r'2 4', '2', text)
    text = re.sub(r'-1ный', '-1', text)
    text = re.sub(r'3,4', '3', text)
    text = re.sub(r'1 и 4', '1', text)
    text = re.sub(r'технический этаж,5,6', '5', text)
    text = re.sub(r' 1, -1ьный', '1', text)
    text = re.sub(r'2, мансардный', '2', text)
    text = re.sub(r'1, технический этаж', '1', text)
    text = re.sub(r'3, 4', '3', text)
    text = re.sub(r'1и, -1 188,4 кв.м, -1 104 кв.м', '1', text)
    text = re.sub(r'1, -1', '1', text)
    text = re.sub(r'2-й', '2', text)
    text = re.sub(r'1этаж', '1', text)
    text = re.sub(r'1-7', '1', text)
    text = re.sub(r'1 по док-м -1', '1', text)
    text = re.sub(r'1,-1 ', '1', text)
    text = re.sub(r'2, 4, тех.этаж', '1', text)
    text = re.sub(r'-1ный, 1', '1', text)
    text = re.sub(r'Техническое подполье', '-1', text)
    text = re.sub(r' 1ьный', '1', text)
    text = re.sub(r'-1, 1', '1', text)
    return text

text = df['floor']
text = text.apply(clean_floor)
df['floor'] = text

df['floor'] = df['floor'].astype('float').astype('int')

In [162]:
# text = df['floor']
# text = text.apply(clean_floor)
# df['floor'] = text

In [180]:
# df[df['floor'] == '']

In [171]:
# df['floor'] = df['floor'].astype('float').astype('int')

In [220]:
df_test = pd.read_csv('test.csv')
df_test

,city,floor,id,osm_amenity_points_in_0.001,osm_amenity_points_in_0.005,osm_amenity_points_in_0.0075,osm_amenity_points_in_0.01,osm_building_points_in_0.001,osm_building_points_in_0.005,osm_building_points_in_0.0075,...,reform_mean_year_building_1000,reform_mean_year_building_500,region,lat,lng,total_square,street,date,realty_type,price_type
0,Курск,1.0,COL_289284,7,55,85,117,0,0,0,...,1966.471591,1966.740260,Курская область,51.709255,36.147908,156.148996,S6983,2020-09-06,100,1
1,Сургут,1.0,COL_289305,8,70,112,140,0,0,0,...,1988.259259,1989.068182,Ханты-Мансийский АО,61.233240,73.462509,190.737943,S29120,2020-09-06,110,1
2,Тюмень,-1.0,COL_289318,3,28,67,122,0,0,0,...,1985.880282,1991.458333,Тюменская область,57.143110,65.554573,457.118051,S23731,2020-09-06,10,1
3,Иркутск,1.0,COL_289354,5,76,139,231,0,0,0,...,1947.073276,1941.657895,Иркутская область,52.281380,104.282975,66.503622,S14207,2020-09-06,100,1
4,Курск,NaN,COL_289399,8,105,189,279,0,0,2,...,1948.764151,1946.689655,Курская область,51.729706,36.194019,23.864915,S20658,2020-09-06,10,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2969,Красноярск,4.0,COL_455089,0,3,6,16,0,0,0,...,1972.153846,1982.250000,Красноярский край,55.978180,92.891457,2149.546362,S2650,2020-12-27,100,1
2970,Томск,1.0,COL_455212,2,33,111,222,0,0,1,...,1972.260870,1973.460000,Томская область,56.459183,84.979872,359.371061,S11114,2020-12-27,10,1
2971,Калуга,-1.0,COL_455261,2,25,54,99,0,0,0,...,1966.390244,1966.904762,Калужская область,54.523247,36.295168,87.820453,S34005,2020-12-27,100,1
2972,Нижний Новгород,NaN,COL_455381,13,70,114,158,0,0,0,...,1938.331361,1946.529412,Нижегородская область,56.328236,43.990039,208.625735,S21753,2020-12-27,10,1
2973,Нижний Новгород,NaN,COL_455397,1,52,111,146,0,0,0,...,1972.892308,1963.940000,Нижегородская область,56.343952,43.869360,232.109058,S28997,2020-12-27,100,1

In [202]:
#df_test['floor'] = df_test['floor'].fillna(0).astype('str')

In [223]:
df_test['floor'].unique()

array([ 1, -1,  0,  2, -2,  5,  4,  3, 11,  9, 12, 13,  6,  7, 14,  8, 10,
       52])

In [222]:
df_test['floor'] = df_test['floor'].fillna(0).astype('str')

text2 = df_test['floor']
text2 = text2.apply(clean_floor)
df_test['floor'] = text2

df_test['floor'] = df_test['floor'].astype('float').astype('int')

In [205]:
#df_test['floor'] = df_test['floor'].astype('float').astype('int')

In [219]:
# df_test['floor'].unique()